# macOS
**/.DS_Store

# 1Password
1Password/
op/

# Raycast
raycast/

# cheat
cheat/cheatsheets/

# tio
tio/

# Swift Package Manager
swiftpm/

# zsh
zsh/**/.antidote/
zsh/**/.zcompcache/
zsh/**/.zsh_sessions/
zsh/**/.zcompdump*
zsh/**/.zsh_history
zsh/**/.zsh_plugins.zsh
zsh/**/*.bak
zsh/**/*.local
zsh/**/*.local.zsh
zsh/**/*.zwc
zsh/**/*.zwc.old
zsh/~*

