#
# .aliases - Set whatever shell aliases you want.
#

# fzf
alias fzf='fzf --preview "bat --color=always --style=numbers --line-range=:500 {}"'

# fd
# alias fd='fd … -X bat'

# find
# alias find='find … -exec bat {} +'

# spicetify
alias sp='spicetify'

# single character aliases - be sparing!
alias _=sudo
alias l=lsd
alias ls=lsd
alias g=git

# mask built-ins with better defaults
alias vi=nvim
alias vim=nvim

# more ways to ls
alias ll='lsd -lh'
alias la='lsd -lAh'
alias ldot='lsd -ld .*'

# sqlite3
alias sql='sqlite3'

# fix common typos
alias quit='exit'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# venv
alias cvenv="python3 -m venv .venv"
alias svenv="source .venv/bin/activate"
alias dvenv="deactivate"

# tar
alias tarls="tar -tvf"
alias untar="tar -xf"

# find
alias fd='find . -type d -name'
alias ff='find . -type f -name'

# misc
alias please=sudo
alias zshrc='${EDITOR:-nvim} "${ZDOTDIR:-$HOME}"/.zshrc'
alias zbench='for i in {1..10}; do /usr/bin/time zsh -lic exit; done'
alias zdot='cd ${ZDOTDIR:-~}'

# Basic tmux aliases
alias t='tmux'
alias ta='tmux attach -t'
alias ts='tmux new-session -s'
alias tl='tmux list-sessions'
alias tk='tmux kill-session -t'

# Create a new session or attach if it already exists
alias tm='tmux new-session -A -s main'

# Reload tmux configuration
alias treload='tmux source-file ~/.config/tmux/tmux.conf'

# Quickly switch between tmux sessions
alias tn='tmux switch -t next'
alias tp='tmux switch -t previous'

# Split panes
alias tv='tmux split-window -h'  # Vertical split
alias th='tmux split-window -v'  # Horizontal split

# Resize panes
alias trh='tmux resize-pane -R'  # Resize right
alias tlh='tmux resize-pane -L'  # Resize left
alias tuh='tmux resize-pane -U'  # Resize up
alias tdh='tmux resize-pane -D'  # Resize down

# Navigate panes
alias tleft='tmux select-pane -L'
alias tright='tmux select-pane -R'
alias tup='tmux select-pane -U'
alias tdown='tmux select-pane -D'

# List windows
alias tw='tmux list-windows'
alias tnew='tmux new-window'
alias tkwindow='tmux kill-window'

# Rename session
alias trename='tmux rename-session -t'

# Detach from session
alias td='tmux detach'

# Save tmux layout
alias tsave='tmux list-windows -F "#{session_name}:#{window_index} #{window_layout}" > ~/.tmux-layout'

# Restore tmux layout
alias trestore='while read line; do tmux select-layout -t ${line%% *} ${line##* }; done < ~/.tmux-layout'

# Attach or create a new session with a default configuration
alias tdefault='tmux new-session -A -s default'

# Kill all tmux sessions
alias tkall='tmux kill-server'
